.clima-card {
  min-height: 50vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(183, 207, 228);
  opacity: 0.9;
}

.stackStyle {
  margin-left: 10px;
}

.text-card{
  min-height: 400px;
  max-width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.text-card p {
  font-size: 20px;
  margin: 5px 0 0 0;
  border-bottom: solid 2px green;
}

.text-card ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-inline-start: 0;
}
