.clima-card {
  background-color: #b0b8c9;
  min-height: 50vh;
  min-width: 30vw;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stackStyle {
  margin-left: 10px;
}

.text-card{
  min-height: 400px;
  max-width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.text-card p {
  font-size: 20px;
}
